﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    var materials = new string[]
    {
        "Bambú",
        "Madera",
        "Ladrillos",
        "Bloques de hormigón",
        "Ladrillos triturados (para los cimientos)",
        "Tierra de construcción, seca y suelta",
        "Tierra seca y suelta",
        "Tierra húmeda y apisonada",
        "Grava",
        "Arena seca-húmeda",
        "Cemento",
        "Arcilla seca y compactada",
        "Hormigón de cemento",
        "Mortero de cemento",
        "Hormigón armado (5% de acero)"
    };
}

<div >
    <h2>Materials Table</h2>
    <table class="table-bordered">
        @foreach (var x in materials)
        {
            <tr>
                <td class="tblData">@x</td>
            </tr>
        }
    </table>
</div>
